@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Outfit:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Chillax";
  src: url("./fonts/Chillax-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comforter";
  src: url("./fonts/Comforter-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}
